.contactWrapper {
  padding: 60px 30px;
  max-width: 100%;
  margin: 0 auto;
  
  background-image: url("../assets/background.png");
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.firstSection {
 
  text-align:start;
  margin-bottom: 40px;
}
.firstSection p {
  font-size: 1rem;
  color: #333;
  line-height: 1.7;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.inputFields {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.inputFields input {
  flex: 1;
  height: 50px;
  border: 1.1px solid rgba(105, 108, 255, 1);
  padding: 0px 16px;
  font-size: 1rem;
  border-radius: 9px;
  background-color: white;
  color: #333;
}
.textArea {
  height: 160px;
  border-radius: 9px;
  border: 1.1px solid rgba(105, 108, 255, 1);
  padding: 16px;
  font-size: 1rem;
  resize: none;
  background-color: white;
  color: #333;
  margin-bottom: 20px;
}
.buttonDiv {
  display: flex;

  justify-content: flex-end;
}
.button {
  padding: 14px 30px;
  font-size: 1rem;
  border-radius: 9px;
  background-color: rgba(105, 108, 255, 1);
  color: white;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  transition: background-color 0.3s ease;
}
