.dashboard {
  /* width: 100%; */
  /* max-width: 1234px; */
  width: 1234px;
  height: auto;
  margin: 0;
  padding: 20px;
  border-width: 5px;
  border-radius: 60px;
  border: 5px solid rgba(105, 108, 255, 1);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.leftContainer {
  padding: 24px;
  border-radius: 20px;
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex: 1; */
}

.leftContainerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
}
.leftContainerMenu p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
}

.leftContainerLogo {
  display: flex;
  align-items: center;

  gap: 5px;
}

.logoImg {
  height: 40px;
}
.leftContainerLogo span img {
  height: 24px;
}

.leftContainer button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-self: center;
}
