.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap:5px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align:left;
  transition: transform 0.2s ease;
  width: 100%;
  /* max-width: 250px; */
  height: 125px;
  opacity: 1;
  font-family: "Manrope";
  
  
}

.card:hover {
  transform: scale(1.03);
}

.avatar {
 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  opacity: 1;
  margin: 0;
  padding: 0;
  
}

.skills {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}

.rating {
  font-weight: bold;
  color: #ffab00;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
